GF_SECURITY_ADMIN_USER={{ lookup('env','GF_ADMIN_USER') }}
GF_SECURITY_ADMIN_PASSWORD={{ lookup('env','GF_ADMIN_PASSWORD') }}
SLACK_WEBHOOK_URL={{ lookup('env','SLACK_WEBHOOK_URL') }}
SLACK_CHANNEL={{ lookup('env','SLACK_CHANNEL') }}
